{% extends 'index/index.html' %}


{% block 'header_block' %}
{% endblock 'header_block' %}

{% block 'body_block' %}

    <p>
        <a href={% url 'crear_cerrajero' %}>Crear cerrajero</a>
    </p>

    <form action="" method="get">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <button>Buscar</button>
    </form>
    
    {% comment %} {% for cerrajero in objects_list %} <<<--- Cuando trabajamos con CBV por defecto usa objects_list {% endcomment %}
    {% for cerrajero in cerrajeros %}
        <li>
            <a href={% url 'detalle_cerrajero' cerrajero.id %}>{{cerrajero}}</a> |
            <a href={% url 'editar_cerrajero' cerrajero.id %}>Editar</a> |
            <a href={% url 'borrar_cerrajero' cerrajero.id %}>Borrar</a>
        </li>
    {% endfor %}

{% endblock 'body_block' %}